AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
OneDrive/
Pictures/
Saved Games/
Searches/
demoapp/
git-log/
linux-practices/
testdir/
# Ignore all .py files
*.py

# Ignore specific files and directories
NTUSER.DAT
*.log
*.pem
*.ini
*.txt
# Ignore system files and directories
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# Ignore specific files
NTUSER.DAT*
*.log
*.pem
*.txt
*.py
