AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
OneDrive/
Pictures/
Saved Games/
Searches/
demoapp/
git-log/
linux-practices/
testdir/
# Ignore all .py files
*.py

# Ignore specific files and directories
NTUSER.DAT
*.log
*.pem
*.ini
*.txt
